<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Root</title>
</head>
<body>
    <h1>API Root</h1>
    <ul>
        <li><a href="{{ order_get_add }}">Get/Add Orders</a></li>
        <li><a href="{{ order_delete }}">Delete Order</a></li>
        <li><a href="{{ order_change_status }}">Change Order Status</a></li>
        <li><a href="{{ order_search }}">Search Orders</a></li>
        <li><a href="{{ order_total }}">Total Order Amount</a></li>
        <li><a href="{{ order_change }}">Change Order Products</a></li>
    </ul>
</body>
</html>
